<style type="text/css">
@charset "UTF-8";
body {
  acc-color: #2c3e50;
  background: #ecf0f1;
  padding: 0 1em 1em;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 0.5em;
  font-weight: normal;
}

input[title="chck-acc"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.acc-row {
  display: flex;
}
.acc-row .acc-col {
  flex: 1;
}
.acc-row .acc-col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.acc-tabs {
  /*border-radius: 8px;
  overflow: hidden;
  /*box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);*/
}

.acc-tab {
  width: 100%;
  acc-color: white;
  overflow: hidden;
}
.acc-tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #f7f7f7;
  acc-color: #000;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.acc-tab-label:hover {
  background: #f0f0f0;
}
.acc-tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.acc-tab-content {
  max-height: 0;
  padding: 0 1em;
  acc-color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.acc-tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.acc-tab-close:hover {
  background: #f0f0f0;
}

input[title="chck-acc"]:checked + .acc-tab-label {
  background: #f0f0f0;
}
input[title="chck-acc"]:checked + .acc-tab-label::after {
  transform: rotate(90deg);
}
input[title="chck-acc"]:checked ~ .acc-tab-content {
  max-height: 100vh;
  padding: 1em;
}
</style>